# GUI Framework
PySide6>=6.6.0

# Audio & System
numpy>=1.24.0
sounddevice>=0.4.6

# TTS Engines
edge-tts>=6.1.9
piper-tts>=1.2.0
# Проверьте правильное название пакета для третьего движка. 
# Если это 'supertonic', то версия 3.0.0 не существует. 
# Попробуйте версию 1.3.1 или уточните название пакета.
supertonic>=1.3.1
